asgiref==3.9.1
Django==5.2.6
django-cors-headers==4.9.0
django-countries==8.2.0
django-dotenv==1.4.2
django-phonenumber-field==8.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
isort==8.0.1
mysqlclient==2.2.4
PyJWT==2.10.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uv==0.11.3
